.header__list {
    display: flex;
    align-items: center;
    position: relative;
    list-style-type: none;
    margin: 30px 0px 0px -149px;

}
.header__list ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
}

.header__list li a {
    margin: 0 26px;
    border-radius: 25px;
    width: 162px;
    height: 41px;
    flex-shrink: 0;
    background: #FFF3FB;
    text-align: center;
    padding: 20px 18px 27px 15px;
    vertical-align: 5px;
}
.header__list  a {
   text-decoration: none;
}

.header__list h1 {
    padding-left: 83px;
    padding-right: 15px;
    margin: 0px 215px 0px 0px;
}

